
<%- include ("partials/header") %> 
<%- include ("partials/navbar") %> 

<body>
    <div class="container-fluid text-center">
        <!-- <h2 class="homepagehead"><% if(!currentUser){ %> Welcome to Bloggr! <% } else { %> Discover new blogs! <% } %></h2> -->
    </div>
    <% if (currentUser && blogs) { %>
        <h5 class="homepagehead ms-3"><strong>For you</strong></h5>
        <div class="blogs-container row mt-3">
        <% blogs.map((blog) => { %>
                <div class="col-0 col-md-3 col-lg-2"></div>
                <div class="col-12 col-md-6 col-lg-6 preview-container mb-3">
                    <div class="card" style="width: 95%; display: inline-block;">
                        <div class="card-body">
                          <h5 class="card-title"><strong><%= blog.title %></strong></h5>
                          <p class="card-text fw-bold user-redirect-link">By <a href="/users/<%= blog.author._id %>/"><%= blog.author.firstName %> <%= blog.author.lastName %></a></p>
                          <p class="card-text"><%= blog.description %></p>
                          <hr class="title-divide">
                          <div class="card-text text-start blog-content"><%- blog.content %></div>
                          <a href="/blogs/<%= blog._id %>/view" class="stretched-link mb-2"></a>
                            <div id="tags-<%= blog.id %>">
                                <% blog.tags.forEach(tag => { %>
                                    <span class="badge bg-light text-dark">#<%= tag.trim() %></span>
                                  <% }) %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-0 col-md-3 col-lg-4"></div>
        <% }) %> 
        <% if (blogs.length < 1) { %>
            <div class="row">
                <div class="col-0 col-md-3 col-lg-2"></div>
                <div class="col-12 col-md-6 col-lg-6 text-center mb-3">
                <h3 class="ms-5"><i class="fa-solid fa-user-plus"></i><br> Follow users to get blog recommendations!</h3>
                </div>
                <div class="col-0 col-md-3 col-lg-2"></div>
            </div>
        <% } %>
    </div>
    <% } %>
    <h5 class="homepagehead ms-3"><strong>Popular</strong></h5>
    <div class="blogs-container row mt-3">
    <% popular.map((blog) => { %>
            <div class="col-0 col-md-3 col-lg-2"></div>
            <div class="col-12 col-md-6 col-lg-6 preview-container mb-3">
                <div class="card" style="width: 95%; display: inline-block;">
                    <div class="card-body">
                      <h5 class="card-title"><strong><%= blog.title %></strong></h5>
                      <p class="card-text fw-bold user-redirect-link">By <a href="/users/<%= blog.author._id %>/"><%= blog.author.firstName %> <%= blog.author.lastName %></a></p>
                      <p class="card-text"><%= blog.description %></p>
                      <hr class="title-divide">
                      <div class="card-text text-start blog-content"><%- blog.content %></div>
                      <a href="/blogs/<%= blog._id %>/view" class="stretched-link mb-2"></a>
                        <div id="tags-<%= blog.id %>">
                            <% blog.tags.forEach(tag => { %>
                                <span class="badge bg-light text-dark">#<%= tag.trim() %></span>
                              <% }) %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-0 col-md-3 col-lg-4"></div>
    <% }) %> 
</div>


<%- include ("partials/footer") %>